.brand-marker {
  position: relative;
  z-index: 9999;
  pointer-events: auto;
  cursor: pointer;

  display:inline-flex;
  align-items:center;
  justify-content:center;

  width:max-content;

  /* padding:.45rem 1rem; */
  text-decoration: none;
  padding: .8rem;
  margin: 1.5rem 0 3rem;

  border:1px solid var(--dark-grey);
  border-radius:999px;
  border-radius:15px;

  font-style:italic;
  font-weight:300;
  font-size:1.4rem;

  color:var(--dark-grey);
  text-decoration:none;

  transition:.2s ease;
}

.brand-marker:hover {
  background:var(--dark-grey);
  color:white;
}

@media (max-width: 900px) {
  .brand-marker{
  margin-bottom: 0;
  }
}

