/* =========================
   Case Study Layout
========================= */

.case-study .page {
  max-width: var(--content-width);
  margin-inline: auto;
}


/* =========================
   Lab Hero
========================= */

.lab-shape {
  width: 400px;
}

/* =========================
   Mobile
========================= */

@media (max-width: 900px) {

  .lab-meta{
    width: 800px;
    grid-template-columns: 1fr;
  }
}

/* 
.page-hero-visual {
  display: block;
  gap: 3rem;

  .lab-shape{
    align-items: right;
    width: 100px;
  }
} */

/* =========================
   Fields / Competencies
========================= */

.lab-meta {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;
  margin-top: 3rem;
}

.meta-block h3 {
  margin: 0 0 .4rem;
}

.meta-block p {
  margin: 0;
  color: var(--grey);
  
}



/* =========================
   Praxisfrage u.a.
========================= */

.content h2 {
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--dark-grey);
  margin: 4rem 0 1.5rem;
  color: var(--grey);
}

/* =========================
   Content
========================= */

.content {
  max-width: 1440px;
  margin: 4rem 0;
}

.lab-gallery {
  max-width: 900px;
}

.lab-gallery img {
  width: 100%;
  display: block;
  border-radius: 20px;
}


/* =========================
   Partner
========================= */

.partner {
  margin-top: 6rem;
  padding-top: 2rem;

  border-top: 1px solid var(--light-grey);
}

.partner h2 {
  margin-top: .8rem;
}


/* =========================
   Partner CTA
========================= */

.partner-text {
  max-width: 900px;
  margin: 1rem 0 1.5rem;
  color: var(--grey);
}

.partner-link {
  display: inline-block;

  color: var(--dark-grey);
  text-decoration: none;

  border-bottom: 1px solid var(--dark-grey);
  padding-bottom: .15rem;

  transition: .2s ease;
}

.partner-link:hover {
  color: var(--lab-color);
  border-color: var(--lab-color);
}


/* =========================
   More Labs
========================= */

.more-labs {
  margin: 4rem 0 6rem;
  padding-top: 2rem;
  border-top: 1px solid var(--light-grey);
}

.lab-links {
  display: flex;
  gap: 1.5rem;
}

.lab-links a {
  color: var(--dark-grey);
  text-decoration: none;
}

.lab-links a:hover {
  color: var(--lab-color);
}


