/* =========================
   Footer
========================= */

.footer {
  padding: 1.6rem 0 3rem;
  border-top: 1px solid var(--light-grey);
}


/* =========================
   Main
========================= */

.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  color: var(--grey);
}

.footer-main p {
  margin: 0;
}

.footer-links {
  display: flex;
  gap: 4rem;
}

.footer-links a {
  color: inherit;
  text-decoration: none;
}

/* =========================
   Responsive
========================= */

@media (max-width: 700px) {
  .footer-main {
    width: 100%; 
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
  }

  .footer-links {
    gap: 1.5rem;
  }
}


/* =========================
   Organisations / Funding
========================= */
.footer-organisations {
  display: flex;
  align-items: flex-start;
  gap: 8rem;
  margin-top: 4rem;
  color: var(--light-grey);
}

.footer-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}

.footer-label {
  margin: 0 0 .5rem;
  font-size: 1.3rem;
  line-height: 1.3;
  color: var(--light-grey);
}

.footer-logos {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.footer-logos img {
  display: block;
  width: auto;
}


/* =========================
   Individual groups
========================= */

.footer-group--partners .footer-logos img[src*="SC"] {
  height: 110px;
  width: auto;
}

.footer-group--partners .footer-logos img[src*="halle"] {
  height: 80px;
}

.footer-group--evaluation .footer-logos img[src*="ZSH"] {
  height: 80px;
}

.footer-group--evaluation .footer-logos img[src*="fraunhofer"] {
  height: 90px;
}

.footer-group--funding .footer-logos img[src*="kfw"] {
  height: 100px;
  margin-top: 1rem;
}



/* =========================
   Responsive
========================= */

@media (max-width: 900px) {

  .footer {
    width: 100%; 
    padding-bottom: 5rem;
  }

  .footer-organisations {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 3rem;
  }



  /* Scale logos down slightly */
 
  .footer-group--partners .footer-logos img[src*="SC"] {
    height: 85px;
  }

  .footer-group--partners .footer-logos img[src*="halle"] {
    height: 50px;
  }

  .footer-group--evaluation .footer-logos img[src*="ZSH"] {
    height: 50px;
  }

  .footer-group--evaluation .footer-logos img[src*="fraunhofer"] {
    height: 60px;
  }

  .footer-group--funding .footer-logos img[src*="kfw2"] {
    height: 70px;
  }

}


@media (max-width: 700px) {

  .footer-main {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-links {
    gap: 1.5rem;
  }

  .footer-organisations {
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    margin-top: 4rem;
  }

  .footer-label {
    font-size: 1rem;
    line-height: 1;
  }

  .footer-group {
    align-items: flex-start;
    gap: 1rem;
  }

  .footer-logos {
    gap: 1.5rem;
  }

  /* Partners */

   .footer-group--partners .footer-logos img[src*="SC"] {
    height: 50px;
  }

  .footer-group--partners .footer-logos img[src*="halle"] {
    height: 35px;
  }

  /* Scientific evaluation */

  .footer-group--evaluation .footer-logos img[src*="ZSH"] {
    height: 40px;
  }

  .footer-group--evaluation .footer-logos img[src*="fraunhofer"] {
    height: 50px;
  }

  /* Funding */
  .footer-group--funding .footer-logos img[src*="kfw2"] {
    height: 50px;
  }
  .footer-group--funding .footer-logos {
    gap: .8rem;
  }

}