/* =========================
   Footer
========================= */

.footer {
  padding: 1.6rem 0 6rem;
  border-top: 1px solid var(--light-grey);
}


/* =========================
   Main
========================= */

.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  color: var(--grey);
}

.footer-main p {
  margin: 0;
}

.footer-links {
  display: flex;
  gap: 3rem;
}

.footer-links a {
  color: inherit;
  text-decoration: none;
}


/* =========================
   Organisations / Funding
========================= */
.footer-organisations {
  display: flex;
  /* justify-content: flex-end; */
  align-items: flex-start;
  gap: 5rem;
  margin-top: 4rem;
  color: var(--light-grey);
}

.footer-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}

.footer-label {
  margin: 0 0 2rem;
  font-size: 1.2rem;
  line-height: 1.3;
  color: var(--light-grey);
}

.footer-logos {
  display: flex;
  align-items: center;
  gap: 2.3rem;
}

.footer-logos img {
  display: block;
  width: auto;
  height: 70px;
}


/* =========================
   Individual groups
========================= */

/* Individual logo sizes */

.footer-group--partners .footer-logos img[src*="smart-city"] {
  height: 120px;
  width: auto;
}

.footer-group--partners .footer-logos img[src*="halle"] {
  height: 56px;
}

.footer-group--evaluation .footer-logos img[src*="logo-zsh"] {
  height: 56px;
}

.footer-group--evaluation .footer-logos img[src*="fraunhofer"] {
  height: 92px;
}

.footer-group--funding .footer-logos img[src*="bmwsb"] {
  height: 120px;
}
.footer-group--funding .footer-logos img[src*="kfw"] {
  height: 55px;
  width: auto;
}

.footer-group--funding .footer-logos {
    gap: 1.2rem;
}


/* =========================
   Responsive
========================= */

@media (max-width: 900px) {

  .footer {
  padding-bottom: 5rem;
  /* background-color: aqua; */
}

  .footer-organisations {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 3rem;
  }

  /* Scale logos down slightly */
 
  .footer-group--partners .footer-logos img[src*="smart-city"] {
    height: 95px;
  }

  .footer-group--partners .footer-logos img[src*="halle"] {
    height: 52px;
  }

  .footer-group--evaluation .footer-logos img[src*="logo-zsh"] {
    height: 54px;
  }

  .footer-group--evaluation .footer-logos img[src*="fraunhofer"] {
    height: 90px;
  }

  .footer-group--funding .footer-logos img[src*="bmwsb"] {
    height: 100px;
  }

  .footer-group--funding .footer-logos img[src*="kfw"] {
    height: 44px;
  }

}


@media (max-width: 700px) {

  .footer-main {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-links {
    gap: 1.5rem;
  }

  .footer-organisations {
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    margin-top: 4rem;
  }

  .footer-group {
    align-items: flex-start;
    gap: 1rem;
  }

  .footer-logos {
    gap: 1.5rem;
  }

  /* Partners */

   .footer-group--partners .footer-logos img[src*="smart-city"] {
    height: 85px;
  }

  .footer-group--partners .footer-logos img[src*="halle"] {
    height: 48px;
  }

  /* Scientific evaluation */


  .footer-group--evaluation .footer-logos img[src*="logo-zsh"] {
    height: 50px;
  }

  .footer-group--evaluation .footer-logos img[src*="fraunhofer"] {
    height: 80px;
  }


  /* Funding */
  .footer-group--funding .footer-logos img[src*="bmwsb"] {
    height: 85px;
  }

  .footer-group--funding .footer-logos img[src*="kfw"] {
    height: 38px;
  }

    .footer-group--funding .footer-logos {
    gap: .8rem;
  }

}