/* =========================
   Footer
========================= */

.footer {
  padding-top: 1.6rem;
  border-top: 1px solid var(--light-grey);
}


/* =========================
   Main
========================= */

.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  color: var(--grey);
}

.footer-main p {
  margin: 0;
}

.footer-links {
  display: flex;
  gap: 4rem;
}

.footer-links a {
  color: inherit;
  text-decoration: none;
}

/* =========================
   Responsive
========================= */

@media (max-width: 700px) {
  .footer-main {
    width: 100%; 
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
  }

  .footer-links {
    gap: 1.5rem;
  }
}


/* =========================
   Organisations / Funding
========================= */
.footer-organisations {
  display: flex;
  align-items: flex-start;
  gap: 6rem;
  margin-top: 4rem;
  color: var(--light-grey);
}

.footer-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}

.footer-label {
  margin: 0 0 .5rem;
  font-size: 1rem;
  line-height: 1.3;
  color: var(--light-grey);
}

.footer-logos {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer-logos img {
  display: block;
  width: auto;
}


/* =========================
   Individual groups
========================= */

.footer-group--partners .footer-logos img[src*="smart-city-2"] {
  height: 85px;
  width: auto;
}

.footer-group--partners .footer-logos img[src*="halle"] {
  height: 65px;
}

.footer-group--evaluation .footer-logos img[src*="ZSH"] {
  height: 65px;
}

.footer-group--evaluation .footer-logos img[src*="fraunhofer"] {
  height: 75px;
}

.footer-group--funding .footer-logos img[src*="kfw"] {
  height: 85px;
  margin-top: 1rem;
}



/* =========================
   Responsive
========================= */

@media (max-width: 900px) {

  .footer {
    width: 100%; 
    padding-bottom: 1rem;
  }

  .footer-organisations {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 3rem;
  }
  .footer-links {
    gap: 2.5rem;
  }
    .footer-links .left{
    gap: 2rem;
    border-bottom: 1px solid var(--dark-grey);
    padding-bottom: .15rem;
    text-decoration: none;
    transition: .2s ease;
  }

    .footer-links .right{
    border-bottom: 1px solid var(--dark-grey);
    padding-bottom: .15rem;
    text-decoration: none;
    transition: .2s ease;
  }

  /* Scale logos down slightly */
 
      .footer-group--partners .footer-logos img[src*="smart-city-2"] {
      height: 75px;
      width: auto;
    }

    .footer-group--partners .footer-logos img[src*="halle"] {
      height: 55px;
    }

    .footer-group--evaluation .footer-logos img[src*="ZSH"] {
      height: 55px;
    }

    .footer-group--evaluation .footer-logos img[src*="fraunhofer"] {
      height: 65px;
    }

    .footer-group--funding .footer-logos img[src*="kfw"] {
      height: 75px;
      margin-top: 1rem;
    }

}


@media (max-width: 700px) {

  .footer-main {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-organisations {
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    margin-top: 4rem;
  }

  .footer-label {
    font-size: .95rem;
    line-height: 1;
  }

  .footer-group {
    align-items: flex-start;
    gap: 1rem;
  }

  .footer-logos {
    gap: 1.5rem;
  }

  /* Scale logos down again */
 
    .footer-group--partners .footer-logos img[src*="smart-city-2"] {
      height: 65px;
      width: auto;
    }

    .footer-group--partners .footer-logos img[src*="halle"] {
      height: 45px;
    }

    .footer-group--evaluation .footer-logos img[src*="ZSH"] {
      height: 45px;
    }

    .footer-group--evaluation .footer-logos img[src*="fraunhofer"] {
      height: 60px;
    }

    .footer-group--funding .footer-logos img[src*="kfw"] {
      height: 64px;
      margin-top: 1rem;
    }
}