/* =========================
   Imprint
========================= */

.imprint-page {
  position: relative;
  width: min(100%, var(--content-width));
}

/* =========================
   Content
========================= */

.imprint-content {
  width: 100%;
  max-width: var(--content-width);
  margin-inline: auto;
}


/* =========================
   Sections
========================= */

.imprint-section {
  border-bottom: 1px solid var(--light-grey);
  max-width: var(--content-width);
  padding: 2rem 0 3rem;
}

.imprint-section a {
  overflow-wrap: anywhere;
  color: inherit;
  text-decoration: underline;
  text-underline-offset: .2rem;
}

.contact-text{
   max-width: var(--text-width);
}

.imprint-section:first-child {
  padding-top: 2rem;
}

.imprint-section:last-child {
  border-bottom: none;
  padding-bottom: 4rem;
}

/* =========================
   Section heading
========================= */

.imprint-section h2 {
  margin: 0 0 1.2rem;
}

  h3 {
    font-size: 1.6rem;
    margin: 0 0 .4rem;
    color: var(--grey);
  }

/* =========================
   Text
========================= */

.imprint-section p {
  margin-top: 1.2rem;

  color: var(--grey);
}

.imprint-section p:last-child {
  margin-bottom: 0;
}


/* =========================
   Links
========================= */

.imprint-section a {
  color: inherit;

  text-decoration: underline;
  text-underline-offset: .2rem;
}

/* =========================
   Credits
========================= */

.imprint-credits {
  padding-bottom: 2rem;
}


/* =========================
   Privacy
========================= */

.imprint-privacy {
  padding-bottom: 0;
}


/* =========================
   Mobile
========================= */



 



