/* =========================
   Imprint
========================= */

.imprint-page {
  position: relative;
  width: min(100%, var(--content-width));
}

/* =========================
   Content
========================= */

.imprint-content {
  width: 100%;
  max-width: var(--content-width);
  margin-inline: auto;
  padding-bottom: 6rem;
}


/* =========================
   Sections
========================= */

.imprint-section {
  padding: 2.5rem 0;

  border-bottom: 1px solid var(--light-grey);
  max-width: var(--content-width);
}

.imprint-section a {
  overflow-wrap: anywhere;
  color: inherit;
  text-decoration: underline;
  text-underline-offset: .2rem;
}

.contact-text{
   max-width: var(--text-width);
}

.imprint-section:first-child {
  padding-top: 2rem;
}

.imprint-section:last-child {
  border-bottom: none;
}

/* =========================
   SmartCity Section
========================= */

.smartcity {
  padding-top: 2rem;
}

/* =========================
   Section heading
========================= */

.imprint-section h2 {
  margin: 0 0 1.2rem;
}


/* =========================
   Text
========================= */

.imprint-section p {
  margin: 0 0 1rem;

  color: var(--grey);
}

.imprint-section p:last-child {
  margin-bottom: 0;
}


/* =========================
   Links
========================= */

.imprint-section a {
  color: inherit;

  text-decoration: underline;
  text-underline-offset: .2rem;
}



/* =========================
   Credits
========================= */

.imprint-credits {
  padding-bottom: 2rem;
}


/* =========================
   Privacy
========================= */

.imprint-privacy {
  padding-bottom: 0;
}


/* =========================
   Mobile
========================= */

@media (max-width: 700px) {

  .imprint-content {
    margin-bottom: 4rem;
  }

  .imprint-section {
    padding: 2rem 0;
  }

}

